.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272e38;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-start;
  /* margin: 24px; */
}

.iconStar {
  width: 15px;
  height: 15px;
}

@media (width >= 768px) {
  .circle {
    width: 50px;
    height: 50px;
  }
  
  .iconStar {
    width: 20px;
    height: 20px;
  }
}