.btn-submit{
  background-color: hsl(25, 97%, 53%);
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  width: 278px;
  height: 45px;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn-submit:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

@media (width >= 768px) {
  .btn-submit{
    width: 100%;
    font-size: 15px;
  }

}