.container-card-thank-you {
  background-image: linear-gradient(to bottom, #212832, #171e28);
  width: 327px;
  height: 360px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.7);
}
.container-animate-update{
  border-radius: 50%;
  position: absolute;
  top: 26px;
  left: 26px;
}

@keyframes bordercolor{
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.6;
  }
  50% { 
    opacity: 1;
  } 
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}
.animate-update {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272e38;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.animate-update::before {
  content: "";
  position: absolute;
  
  border: 0.1px dashed hsla(25, 97%, 53%, 0.289);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272e38;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: upchange 10s normal linear infinite;
}
@keyframes upchange {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, -90deg);
  }
  50% { 
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, -180deg);
  } 
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, -270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

.container-images {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.container-info-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 27px;
  box-sizing: border-box;
  position: relative;
}
.imgThank {
  max-width: 50%;
  height: auto;
}
.title-paragr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  gap: 14px;
}
.messageSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262f38;
  border-radius: 25px;
  height: 31px;
  width: 170px;
}
.text-messageSelected {
  font-size: 14px;
  color: hsl(25, 97%, 53%);
  font-weight: 300;
}
.titleThank {
  margin: 0;
  text-align: center;
  font-weight: 500;
}
.paragraphThank {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: hsl(216, 12%, 54%);
  line-height: 20px;
}
@media (width >= 768px) {
  .container-card-thank-you {
    width: 414px;
    height: 416px;
    border-radius: 28px;
  }
  .container-info-card {
    padding: 45px 40px 35px 34px;
    justify-content: space-between;
    gap: 0px;
  }
  .paragraphThank {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 12px;
  }
  .messageSelected {
    width: 190px;
  }
  .text-messageSelected {
    font-size: 15px;
    font-weight: 300;
  }
  .title-paragr {
    gap: 10px;
    padding-bottom: 1px;
  }
  .titleThank {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}
