.container-card-thank-you{
  border: 2px solid white;
  background-image: linear-gradient(to bottom, #212832, #171e28);
  width: 327px;
  height: 360px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info-card{
  border: 2px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px;
  box-sizing: border-box;
}