.container-card-thank-you{
  background-image: linear-gradient(to bottom, #212832, #171e28);
  width: 327px;
  height: 360px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-card-thank-you-out{
  /* display: none; */
}

.container-info-card{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 27px;
  box-sizing: border-box;
}

.imgThank{
  max-width: 50%;
  height: auto;
}

.title-paragr{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  gap: 14px;
}
.messageSelected{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262f38;
  border-radius: 25px;
  height: 31px;
  width: 192px;
}

.text-messageSelected{
  font-size: 15px;
  color: hsl(25, 97%, 53%);
}

.titleThank{
  margin: 0;
  text-align: center;
}

.paragraphThank{
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: hsl(216, 12%, 54%);
  line-height: 20px;
}